<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'pagina_historico.css') }}">
    <title>Veja seu histórico</title>
</head>
<body>
    <div id="fundo-branco">
        <div id="header>">
            <a id="botao_voltar_home" href="pagina_inicial.html">&larr;</a>
            <h1>Veja seu histórico:</h1>
        </div>
        <div id="navio">
            <div class="conteiner">
                <a href="#"><img src="/img/fantasmas.png" alt="historico"></a>
                <a href="#">Legenda</a>
            </div>
            <div class="conteiner">
                <a href="#"><img src="/img/fantasmas.png" alt="historico"></a>
                <a href="#">Legenda</a>
            </div>
            <div class="conteiner">
                <a href="#"><img src="/img/fantasmas.png" alt="historico"></a>
                <a href="#">Legenda</a>
            </div>
            <div class="conteiner">
                <a href="#"><img src="/img/fantasmas.png" alt="historico"></a>
                <a href="#">Legenda</a>
            </div>
            <div class="conteiner">
                <a href="#"><img src="/img/fantasmas.png" alt="historico"></a>
                <a href="#">Legenda</a>
            </div>
            <div class="conteiner">
                <a href="#"><img src="/img/fantasmas.png" alt="historico"></a>
                <a href="#">Legenda</a>
            </div>
            <div class="conteiner">
                <a href="#"><img src="/img/fantasmas.png" alt="historico"></a>
                <a href="#">Legenda</a>
            </div>
        </div>
    </div>
</body>
</html>